.blog-title {
	white-space: nowrap;

	a {
		background-image: url(http://i.imgur.com/wqymtxV.png);
		background-size: 100%;
		background-position: right;
		width: 175px;
		height: 37px;
		display: inline-block;
		font-size: 0px;
	}
}
